@import "./../../App.scss";

.CoreModal {
    &__header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $grey;
        margin-bottom: 1rem;
    }

    &__title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    &__close-icon {
        cursor: pointer;
        &:hover {
            font-weight: bold;
            transform: scale(1.2);
        }
    }

    &__background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    &__modal {
        position: fixed;
        padding: 15px 25px;
        background-color: $white;
        border: 1px solid $white;
        border-radius: 10px;
        outline: 0;
        z-index: 1001;
        transform: translate(-50%, -100%);
        transition: all 0.4s;
        visibility: visible;
    }
    transition: all 0.1s;
}

.none {
    transform: translateY(0%);
    opacity: 0;
    transition: all 0.4s;
    visibility: hidden;
}
